<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
	<module name="controler" >
		<param name="eventsFileFormat" value="xml" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="10" />
		<param name="mobsim" value="hermes" />
		<param name="writeEventsInterval" value="250" />
		<param name="writePlansInterval" value="250" />
		<param name="overwriteFiles" value="deleteDirectoryIfExists" />
		<param name="runId" value="hh-25pct" />
<!--		<param name="routingAlgorithmType" value="FastAStarLandmarks" />-->
		<param name="routingAlgorithmType" value="SpeedyALT"/>
	</module>
	<module name="global" >
		<param name="coordinateSystem" value="EPSG:25832" />
		<param name="numberOfThreads" value="16" />
	</module>
	
	<module name="plans" >
		<param name="inputPlansFile" value="../../res/population.xml.gz" />
	</module>
	<module name="network" >
		<param name="inputNetworkFile" value="../../res/network.xml" />
	</module>

	<module name="hermes" >
		<!-- Simulation End Time -->
		<param name="endTime" value="36:00:00" />
		<param name="flowCapacityFactor" value="0.25" />
		<param name="mainMode" value="car" />
		<param name="storageCapacityFactor" value="0.3" />
		<!-- time in seconds.  Time after which the frontmost vehicle on a link is called `stuck' if it does not move. Set to Integer.MAX_VALUE to disable this behavior -->
		<param name="stuckTime" value="30" />
		<!-- treats PT as deterministic. PT vehicles will run with a steady speed. Should be used with separate network layers for PT and other network modes. -->
		<param name="useDeterministicPt" value="false" />
	</module>

<!--	<module name="qsim" >-->
<!--		<param name="startTime" value="00:00:00" />-->
<!--		<param name="endTime" value="36:00:00" />-->
<!--		<param name="flowCapacityFactor" value="0.1"/>-->
<!--		<param name="storageCapacityFactor" value="0.15"/>-->
<!--		<param name="mainMode" value="car,bus,tram" />-->
<!--		<param name="trafficDynamics" value="kinematicWaves" />-->
<!--		<param name="stuckTime" value="30.0" />-->
<!--		<param name="insertingWaitingVehiclesBeforeDrivingVehicles" value="true" />-->
<!--		<param name="numberOfThreads" value="16" />-->
<!--	</module>-->
<!--	<module name="simwrapper">-->
<!--		&lt;!&ndash;  Whether default dashboards are loaded via SPI.  &ndash;&gt;-->
<!--		<param name="defaultDashboards" value="enabled"/>-->
<!--		&lt;!&ndash;  Set of simple class names or fully qualified class names of dashboards to exclude  &ndash;&gt;-->
<!--		<param name="exclude" value=""/>-->
<!--		&lt;!&ndash;  Set of packages to scan for dashboard provider classes.  &ndash;&gt;-->
<!--		<param name="packages" value=""/>-->
<!--		<parameterset type="params">-->
<!--			&lt;!&ndash;  Tuple of two coordinate separated with ',' that may be used to define the center of map views.  &ndash;&gt;-->
<!--			<param name="mapCenter" value="13.39,52.51"/>-->
<!--			&lt;!&ndash;  Default zoom level used for map view.  &ndash;&gt;-->
<!--			<param name="mapZoomLevel" value="9.1"/>-->
<!--			&lt;!&ndash;  Sample size of the run, which may be required by certain analysis functions.  &ndash;&gt;-->
<!--			<param name="sampleSize" value="0.25"/>-->
<!--			&lt;!&ndash;  Shp file that may be used by analysis functions that support shp file input.  &ndash;&gt;-->
<!--			<param name="shp" value="./area/area.shp"/>-->
<!--		</parameterset>-->
<!--		<parameterset type="params">-->
<!--			&lt;!&ndash;  Name of the context, empty string means default context.  &ndash;&gt;-->
<!--			<param name="context" value="freight"/>-->
<!--			<param name="sampleSize" value="0.25"/>-->
<!--		</parameterset>-->
<!--	</module>-->
	<module name="planCalcScore" >
		<param name="fractionOfIterationsToStartScoreMSA" value="0.8" />
		<parameterset type="activityParams" >
			<param name="activityType" value="home" />
			<param name="typicalDuration" value="08:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="work" />
			<param name="typicalDuration" value="08:00:00" />
			<param name="openingTime" value="6:00:00" />			
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="leisure" />
			<param name="typicalDuration" value="02:00:00" />
			<param name="openingTime" value="08:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="education" />
			<param name="typicalDuration" value="05:00:00" />
			<param name="openingTime" value="08:00:00" />
			<param name="closingTime" value="20:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="shopping" />
			<param name="typicalDuration" value="04:00:00" />
			<param name="openingTime" value="08:00:00" />
			<param name="closingTime" value="22:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="other" />
			<param name="openingTime" value="08:00:00" />
			<param name="typicalDuration" value="02:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="other" />
			<param name="openingTime" value="08:00:00" />
			<param name="typicalDuration" value="02:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType" value="passenger_interaction_0.0" />
			<param name="typicalDuration" value="00:02:00" />
<!--			don't set times for continuous activities-->
<!--			<param name="openingTime" value="0:00:00" />	-->
<!--			<param name="closingTime" value="24:00:00" />		-->
		</parameterset>	
		<parameterset type="activityParams" >
			<param name="activityType" value="walk_interaction_0.0" />
			<param name="typicalDuration" value="00:00:01" />
<!--			<param name="openingTime" value="0:00:00" />-->
<!--			<param name="closingTime" value="24:00:00" />-->
		</parameterset>	
		<!-- ====================================================================== -->
		<parameterset type="modeParams">
			<!--  [utils] alternative-specific constant.  Normally per trip, but that is probably buggy for multi-leg trips.  -->
			<param name="constant" value="-0.30077680258110934"/>
			<!--  [unit_of_money/day] Fixed cost of mode, per day.  -->
			<param name="dailyMonetaryConstant" value="-14.1"/>
			<!--  [utils] daily utility constant. default=0 to be backwards compatible  -->
			<param name="dailyUtilityConstant" value="10.98"/>
			<!--  [utils/m] utility of traveling (e.g. walking or driving) per m, normally negative.  this is on top of the time (dis)utility.  -->
			<param name="marginalUtilityOfDistance_util_m" value="1.4E-4"/>
			<!--  [utils/hr] additional marginal utility of traveling.  normally negative.  this comes on top of the opportunity cost of time  -->
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0"/>
			<param name="mode" value="car"/>
			<!--  [unit_of_money/m] conversion of distance into money. Normally negative.  -->
			<param name="monetaryDistanceRate" value="-2.6E-4"/>
		</parameterset>
		<parameterset type="modeParams">
			<param name="constant" value="-1.1996407419918727"/>
			<param name="dailyMonetaryConstant" value="-0.0"/>
			<param name="marginalUtilityOfDistance_util_m" value="3.5E-4"/>
			<param name="marginalUtilityOfTraveling_util_hr" value="-10.32"/>
			<param name="mode" value="ride"/>
			<param name="monetaryDistanceRate" value="-3.9E-4"/>
		</parameterset>
		<parameterset type="modeParams">
			<param name="constant" value="-0.38627376236312827"/>
			<param name="dailyMonetaryConstant" value="-3.0"/>
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0"/>
			<param name="mode" value="pt"/>
		</parameterset>
		<parameterset type="modeParams">
			<param name="constant" value="-2.1384635949005277"/>
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0"/>
			<param name="mode" value="bike"/>
		</parameterset>
		<parameterset type="modeParams">
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0"/>
			<param name="mode" value="walk"/>
		</parameterset>
	</module>

	<module name="planscalcroute">
	<!--  Defines how access and egress to main mode is simulated. Either of [none, accessEgressModeToLink, walkConstantTimeToLink, accessEgressModeToLinkPlusTimeConstant], Current default=none which means no access or egress trips are simulated.  -->
	<param name="accessEgressType" value="accessEgressModeToLink"/>
	<!--  All the modes for which the router is supposed to generate network routes (like car)  -->
	<param name="networkModes" value="car,ride"/>
<!--<param name="networkModes" value="car,freight,ride"/>-->

		<parameterset type="teleportedModeParameters">
		<param name="mode" value="bike"/>
		<!--  Speed for a teleported mode. Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed. Insert a line like this for every such mode.  -->
		<param name="teleportedModeSpeed" value="3.1388889"/>
	</parameterset>
	<parameterset type="teleportedModeParameters">
		<param name="mode" value="walk"/>
		<param name="teleportedModeSpeed" value="1.0555556"/>
	</parameterset>
	</module>
	
	<module name="strategy" >
		<param name="fractionOfIterationsToDisableInnovation" value="0.8" />
		<param name="maxAgentPlanMemorySize" value="5" />
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ChangeExpBeta" />
			<param name="weight" value="0.70" />
		</parameterset>
		<parameterset type="strategysettings" >
			<param name="strategyName" value="TimeAllocationMutator_ReRoute" />
			<param name="weight" value="0.1" />
			<param name="disableAfterIteration" value="70"/>
		</parameterset>
		<parameterset type="strategysettings">
			<param name="strategyName" value="TimeAllocationMutator"/>
			<param name="subpopulation" value="person"/>
			<param name="weight" value="0.15"/>
		</parameterset>
		<parameterset type="strategysettings">
			<param name="strategyName" value="SubtourModeChoice"/>
			<param name="subpopulation" value="person"/>
			<param name="weight" value="0.15"/>
		</parameterset>
		<parameterset type="strategysettings">
			<param name="strategyName" value="ReRoute"/>
			<param name="subpopulation" value="person"/>
			<param name="weight" value="0.15"/>
		</parameterset>
	</module>
	<module name="subtourModeChoice">
	<!--  Only for backwards compatibility.  Defines if only trips from modes list should change mode, or all trips.  Options: fromAllModesToSpecifiedModes fromSpecifiedModesToSpecifiedModes betweenAllAndFewerConstraints   -->
	<param name="behavior" value="betweenAllAndFewerConstraints"/>
	<!--  Defines whether car availability must be considered or not. A agent has no car only if it has no license, or never access to a car  -->
<!--	TESTEN-->
	<param name="considerCarAvailability" value="true"/>
	<!--  If greater than 0, subtours will also consider coordinates to be at the same location when smaller than set distance.  -->
	<param name="coordDistance" value="100.0"/>
	<!--  Defines all the modes available, including chain-based modes, seperated by commas  -->
	<param name="modes" value="car,pt,bike,walk,ride"/>
	<!--  Defines the probability of changing a single trip for a unchained mode instead of subtour.  -->
	<param name="probaForRandomSingleTripMode" value="0.5"/>
	</module>
	<module name="travelTimeCalculator">
		<param name="analyzedModes" value="car,freight" />
		<param name="separateModes" value="true" />
	</module>
	<module name="subtourModeChoice" >
		<param name="chainBasedModes" value="car,bike" />
		<param name="considerCarAvailability" value="true" />
		<param name="modes" value="car,pt,bike,walk,ride" />
	</module>
	<module name="TimeAllocationMutator" >
		<param name="mutationAffectsDuration" value="false" />
		<param name="mutationRange" value="1800.0" />		
	</module>
	<module name="parallelEventHandling" >
		<param name="numberOfThreads" value="1" />
		<param name="oneThreadPerHandler" value="true" />
	</module>
	
	<module name="transit">
		<param name="transitScheduleFile" value="../../res/transitSchedule.xml" />
		<param name="vehiclesFile" value="../../res/transitVehicles.xml" />
		<param name="transitModes" value="pt" />
		<param name="useTransit" value="true" />
	</module>
	<module name="transitRouter" >
		<param name="additionalTransferTime" value="0.0" />
		<param name="extensionRadius" value="500.0" />
		<param name="maxBeelineWalkConnectionDistance" value="200.0" />
		<param name="searchRadius" value="1000.0" />
	</module>
	<module name="swissRailRaptor">
		<param name="useModeMappingForPassengers" value="false"/>
		<param name="useRangeQuery" value="false"/>
		<param name="transferPenaltyBaseCost" value="0.5" />
		<param name="transferPenaltyCostPerTravelTimeHour" value="1.2" />
		<param name="transferPenaltyMinCost" value="1.0" />
		<param name="transferPenaltyMaxCost" value="5.0" />
	</module>
	
	<module name="counts" >
		<param name="analyzedModes" value="car" />
		<param name="averageCountsOverIterations" value="10" />
		<param name="countsScaleFactor" value="10" />
		<param name="distanceFilter" value="null" />
		<param name="distanceFilterCenterNode" value="null" />
		<param name="filterModes" value="false" />
		<param name="inputCountsFile" value="../../res/counts.xml" />
		<param name="outputformat" value="all" />
		<param name="writeCountsInterval" value="250" />
	</module>
<!--	TESTEN-->
	<module name="ReplanningAnnealer">
		<parameterset type="AnnealingVariable">
			<!--  options: linear, exponential, geometric, msa, sigmoid and disabled (no annealing).  -->
			<param name="annealType" value="sigmoid"/>
			<!--  subpopulation to have the global innovation rate adjusted. Not applicable when annealing with other parameters.  -->
			<param name="defaultSubpopulation" value="person"/>
			<!--  final annealing value. When the annealing function reaches this value, further results remain constant.  -->
			<param name="endValue" value="0.01"/>
			<!--  this parameter enters the exponential and sigmoid formulas. May be an iteration or a share, i.e. 0.5 for halfLife at 50% of iterations. Exponential: startValue / exp(it/halfLife)  -->
			<param name="halfLife" value="0.5"/>
			<!--  sigmoid: 1/(1+e^(shapeFactor*(it - halfLife))); geometric: startValue * shapeFactor^it; msa: startValue / it^shapeFactor  -->
			<param name="shapeFactor" value="0.01"/>
			<!--  start value for annealing.  -->
			<param name="startValue" value="0.6"/>
		</parameterset>
	</module>
	<module name="TimeAllocationMutator">
		<!--  Default:1800.0; Defines how many seconds a time mutation can maximally shift a time.  -->
		<param name="mutationRange" value="900.0"/>
	</module>
</config>